# Main app config
ENVIRONMENT="development"
CONFIG_DIR="/home/ubuntu/km_portal/configuration"

TESSDATA_PREFIX="/home/ubuntu/miniconda3/envs/cube/share/"

# Model API key
VLM_API_KEY="sk-xxxxxxxxxxx"
LLM_API_KEY="sk-xxxxxxxxxxx"

# KM database API credentials
KM_USER="APIUSER"
KM_PASSWORD="xxxx"
KM_URL="https://xxxx.com/ords/xxx/corpkm/assets"

# Azure SharePoint credentials
TENANT_ID ="xxxx"
CLIENT_ID ="xxxx"
CLIENT_SECRET ="xxxx"
SITE_PATH="xxx.sharepoint.com:/teams/xxx"