# core/config/base.toml
[app]
service_name = "km_portal-service"
service_version = "0.2.0"
service_host = "0.0.0.0"
service_port = 17090
title = "KM Portal"
description = "KM Portal Service"
debug = true
upload_workers = 2
km_db_check_interval = 600

[app.log]
level = "DEBUG"
dir = "/home/chris/km_portal/logs/"
rotation = "100 MB"
retention = "10 days"
api_log_enabled = true

[kbot]
app_id = 112
domain_id = 1
kb_id = 1
batch_id = 1
upload_api_url = "http://localhost:18090/api/kb/upload"
