# core/config/base.toml
[app]
service_name = "km_portal-service"
service_version = "0.2.0"
title = "KM Portal"
description = "KM Portal Service"
debug = true
upload_workers = 2
km_db_check_interval = 600

[app.log]
level = "DEBUG"
dir = "/home/chris/km_portal/logs/"
rotation = "100 MB"
retention = "10 days"
api_log_enabled = true

[knowledge_core]
domain_id = 1
collection_key = "assets"
base_url = "http://localhost:18090"
default_security_level = 1
ingestion_mode = "v2"
connect_timeout_seconds = 10
request_timeout_seconds = 300
